<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PK Tasks" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MyComponents" Directory="INSTALLFOLDER">
      <Component Id="cmpJar" Guid="21B9C1E0-FE4D-4D49-85B1-B6C3512D4627">
        <File Source="C:\Users\Lenovo\Desktop\POO\PK-Tasks-Lista-De-Tareas-Java\PK-Tasks-Lista-De-Tareas-Java.jar" />
      </Component>
      <Component Id="cmpBat" Guid="9D45C5B7-3762-4E62-93E4-72112F9A53DB">
        <File Source="C:\Users\Lenovo\Desktop\POO\PK-Tasks-Lista-De-Tareas-Java\runPKTasks.bat" />
      </Component>
    </ComponentGroup>
  </Fragment>


